.contCard{
	display: grid;
	grid-template-columns: repeat(5, 1fr); 
	justify-content: center; 
  gap: 40px;
  margin-left: 20%;
}
.card{
  height:auto ;
  width: auto;
  justify-content: center;
  background-color: rgb(18, 49, 63);
  border-radius: 15%;
  }
.card img {
  border-radius: 15%;
	width: 60%;
	height: 50%;
}